@import "../../../assets/colors";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  padding: 10px;
  background-color: $secondary;
  color: $primary;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 14px;
  border: 2px solid $primary;

  &:hover {
    background-color: $primary;
    color: $secondary;
    border: 2px solid $secondary;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
}
